#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btns{
    margin-bottom: 25px;
    transform: translateX(-5px);
}

button{
    margin-right: 50px;
}

#containerAnimes {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}