#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anime{
    width: 170px;
    height: 320px;
}

.anime img{
    width: 170px;
    height: 250px;
}