#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anime{
    width: 200px;
    height: 340px;
}

.anime img{
    width: 200px;
    height: 270px;
}