<div style="min-height: 100vh;">
<nav>
    <h1>ANIME ENCYCLOPEDIA</h1>
    <div id="filt">
        <button  style="font-size: 35px;" (click)="clear()">&times;</button>
        <button (click)="filter()">filter</button>
        <div class="flexcolum">
            <button (click)="changeState(1)">Genres</button>
            <div id="genres" class="invisible base">
                <label><input type="checkbox" id="1" name="genre" value="1"> Action</label>
                <label><input type="checkbox" id="2" name="genre" value="2"> Adventure</label>
                <label><input type="checkbox" id="5" name="genre" value="5"> Avant Garde</label>
                <label><input type="checkbox" id="46" name="genre" value="46"> Award Winning</label>
                <label><input type="checkbox" id="28" name="genre" value="28"> Boys Love</label>
                <label><input type="checkbox" id="4" name="genre" value="4"> Comedy</label>
                <label><input type="checkbox" id="8" name="genre" value="8"> Drama</label>
                <label><input type="checkbox" id="10" name="genre" value="10"> Fantasy</label>
                <label><input type="checkbox" id="26" name="genre" value="26"> Girls Love</label>
                <label><input type="checkbox" id="47" name="genre" value="47"> Gourmet</label>
                <label><input type="checkbox" id="14" name="genre" value="14"> Horror</label>
                <label><input type="checkbox" id="7" name="genre" value="7"> Mystery</label>
                <label><input type="checkbox" id="22" name="genre" value="22"> Romance</label>
                <label><input type="checkbox" id="24" name="genre" value="24"> Sci-Fi</label>
                <label><input type="checkbox" id="36" name="genre" value="36"> Slice of Life</label>
                <label><input type="checkbox" id="30" name="genre" value="30"> Sports</label>
                <label><input type="checkbox" id="37" name="genre" value="37"> Supernatural</label>
                <label><input type="checkbox" id="41" name="genre" value="41"> Suspense</label>
                <label><input type="checkbox" id="9" name="genre" value="9"> Ecchi</label>
                <label><input type="checkbox" id="49" name="genre" value="49"> Erotica</label>
                <label><input type="checkbox" id="12" name="genre" value="12"> Hentai</label>
                <label><input type="checkbox" id="50" name="genre" value="50"> Adult Cast</label>
                <label><input type="checkbox" id="51" name="genre" value="51"> Anthropomorphic</label>
                <label><input type="checkbox" id="52" name="genre" value="52"> CGDCT</label>
                <label><input type="checkbox" id="53" name="genre" value="53"> Childcare</label>
                <label><input type="checkbox" id="54" name="genre" value="54"> Combat Sports</label>
                <label><input type="checkbox" id="81" name="genre" value="81"> Crossdressing</label>
                <label><input type="checkbox" id="55" name="genre" value="55"> Delinquents</label>
                <label><input type="checkbox" id="39" name="genre" value="39"> Detective</label>
                <label><input type="checkbox" id="56" name="genre" value="56"> Educational</label>
                <label><input type="checkbox" id="57" name="genre" value="57"> Gag Humor</label>
                <label><input type="checkbox" id="58" name="genre" value="58"> Gore</label>
                <label><input type="checkbox" id="35" name="genre" value="35"> Harem</label>
                <label><input type="checkbox" id="59" name="genre" value="59"> High Stakes Game</label>
                <label><input type="checkbox" id="13" name="genre" value="13"> Historical</label>
                <label><input type="checkbox" id="60" name="genre" value="60"> Idols (Female)</label>
                <label><input type="checkbox" id="61" name="genre" value="61"> Idols (Male)</label>
                <label><input type="checkbox" id="62" name="genre" value="62"> Isekai</label>
                <label><input type="checkbox" id="63" name="genre" value="63"> Iyashikei</label>
                <label><input type="checkbox" id="64" name="genre" value="64"> Love Polygon</label>
                <label><input type="checkbox" id="65" name="genre" value="65"> Magical Sex Shift</label>
                <label><input type="checkbox" id="66" name="genre" value="66"> Mahou Shoujo</label>
                <label><input type="checkbox" id="17" name="genre" value="17"> Martial Arts</label>
                <label><input type="checkbox" id="18" name="genre" value="18"> Mecha</label>
                <label><input type="checkbox" id="67" name="genre" value="67"> Medical</label>
                <label><input type="checkbox" id="38" name="genre" value="38"> Military</label>
                <label><input type="checkbox" id="19" name="genre" value="19"> Music</label>
                <label><input type="checkbox" id="6" name="genre" value="6"> Mythology</label>
                <label><input type="checkbox" id="68" name="genre" value="68"> Organized Crime</label>
                <label><input type="checkbox" id="69" name="genre" value="69"> Otaku Culture</label>
                <label><input type="checkbox" id="20" name="genre" value="20"> Parody</label>
                <label><input type="checkbox" id="70" name="genre" value="70"> Performing Arts</label>
                <label><input type="checkbox" id="71" name="genre" value="71"> Pets</label>
                <label><input type="checkbox" id="40" name="genre" value="40"> Psychological</label>
                <label><input type="checkbox" id="3" name="genre" value="3"> Racing</label>
                <label><input type="checkbox" id="72" name="genre" value="72"> Reincarnation</label>
                <label><input type="checkbox" id="73" name="genre" value="73"> Reverse Harem</label>
                <label><input type="checkbox" id="74" name="genre" value="74"> Love Status Quo</label>
                <label><input type="checkbox" id="21" name="genre" value="21"> Samurai</label>
                <label><input type="checkbox" id="23" name="genre" value="23"> School</label>
                <label><input type="checkbox" id="75" name="genre" value="75"> Showbiz</label>
                <label><input type="checkbox" id="29" name="genre" value="29"> Space</label>
                <label><input type="checkbox" id="11" name="genre" value="11"> Strategy Game</label>
                <label><input type="checkbox" id="31" name="genre" value="31"> Super Power</label>
                <label><input type="checkbox" id="76" name="genre" value="76"> Survival</label>
                <label><input type="checkbox" id="77" name="genre" value="77"> Team Sports</label>
                <label><input type="checkbox" id="78" name="genre" value="78"> Time Travel</label>
                <label><input type="checkbox" id="32" name="genre" value="32"> Vampire</label>
                <label><input type="checkbox" id="79" name="genre" value="79"> Video Game</label>
                <label><input type="checkbox" id="80" name="genre" value="80"> Visual Arts</label>
                <label><input type="checkbox" id="48" name="genre" value="48"> Workplace</label>
                <label><input type="checkbox" id="82" name="genre" value="82"> Urban Fantasy</label>
                <label><input type="checkbox" id="83" name="genre" value="83"> Villainess</label>
                <label><input type="checkbox" id="43" name="genre" value="43"> Josei</label>
                <label><input type="checkbox" id="15" name="genre" value="15"> Kids</label>
                <label><input type="checkbox" id="42" name="genre" value="42"> Seinen</label>
                <label><input type="checkbox" id="25" name="genre" value="25"> Shoujo</label>
                <label><input type="checkbox" id="27" name="genre" value="27"> Shounen</label>
            </div>
        </div>
        <div>
            <button (click)="changeState(2)">Status</button>
            <div id="status" class="invisible base">
                <label><input type="radio" name="status" value="airing"> Airing<br></label>
                <label><input type="radio" name="status" value="complete"> Complete<br></label>
                <label><input type="radio" name="status" value="upcoming"> Upcoming<br></label>
            </div>
        </div>
        <div>
            <button (click)="changeState(3)">Type</button>
            <div id="type" class="invisible base">
                <label><input type="radio" name="type" value="tv"> Tv<br></label>
                <label><input type="radio" name="type" value="movie"> Movie<br></label>
                <label><input type="radio" name="type" value="ova"> Ova<br></label>
                <label><input type="radio" name="type" value="special"> Special<br></label>
            </div>
        </div>
        <div id="fetch">
            <input type="text" name="" id="name" (keydown)="byName($event)" placeholder="Anime name">
            <button style="font-size: 20px;" id="text" (click)="fetch()">🔍</button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
</div>