/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'general';
    src: url('./assets/fonts/ProtestRevolution-Regular.ttf');
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'general';
    background-color: #140620;
    color: rgb(214, 205, 205);
}

.anime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 420px;
    border: black solid 1px;
    margin-top: 10px;
    margin-inline: 5px;
    border-radius: 10px;
    background-color: #281731;
}

.anime:hover {
    cursor: pointer;
}

button {
    font-family: 'general';
    color: rgb(214, 205, 205);
    background-color: #281731;
    border: none;
    width: 75px;
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #3b2a46;
}

.anime img {
    width: 250px;
    height: 350px;
    border-radius: 9px;
}

.anime p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
}

.scroll::-webkit-scrollbar {
    background-color: #1c0e24;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #341d41;
}

body::-webkit-scrollbar {
    background-color:#281731;
}

body::-webkit-scrollbar-thumb {
    background-color: #341d41;
}